USE [farmacia]
GO
/****** Object:  Table [dbo].[baja_producto]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baja_producto](
	[producto] [int] IDENTITY(1,1) NOT NULL,
	[fecha_baja] [date] NOT NULL,
	[motivo] [text] NOT NULL,
	[usuario] [int] NOT NULL,
	[observaciones] [text] NULL,
 CONSTRAINT [PK_baja_producto_1] PRIMARY KEY CLUSTERED 
(
	[producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
 CONSTRAINT [PK_categorias] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[ape_paterno] [varchar](100) NOT NULL,
	[ape_materno] [varchar](100) NOT NULL,
	[telefono] [varchar](9) NULL,
	[direccion] [varchar](100) NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laboratorio]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laboratorio](
	[id_laboratorio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[direccion] [varchar](250) NULL,
	[telefono] [varchar](9) NULL,
 CONSTRAINT [PK_laboratorio] PRIMARY KEY CLUSTERED 
(
	[id_laboratorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_compra]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_compra](
	[id_orden] [int] IDENTITY(1,1) NOT NULL,
	[fecha_orden] [date] NOT NULL,
	[proveedor] [int] NOT NULL,
	[costo_total] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_orden_compra] PRIMARY KEY CLUSTERED 
(
	[id_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_venta]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_venta](
	[id_orden] [int] IDENTITY(1,1) NOT NULL,
	[fecha_orden] [date] NOT NULL,
	[cliente] [int] NOT NULL,
	[costo_total] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_orden_venta] PRIMARY KEY CLUSTERED 
(
	[id_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[principio_activo] [varchar](100) NOT NULL,
	[laboratorio] [int] NOT NULL,
	[categoria] [int] NOT NULL,
	[concentracion] [int] NOT NULL,
	[unidad_medida] [varchar](20) NOT NULL,
	[presentacion] [varchar](100) NOT NULL,
	[stock_actual] [int] NOT NULL,
	[stock_minimo] [int] NOT NULL,
	[stock_maximo] [int] NOT NULL,
	[ubicacion] [int] NOT NULL,
	[precio_unitario] [numeric](9, 4) NOT NULL,
	[costo_unitario] [numeric](9, 4) NOT NULL,
	[estado] [char](1) NOT NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[telefono] [varchar](9) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_proveedor] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_stock]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_stock](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[producto] [int] NOT NULL,
	[orden_compra] [int] NULL,
	[orden_venta] [int] NULL,
	[fecha_registro] [date] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[stock_es] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[observaciones] [varchar](500) NULL,
	[precio_unitario] [numeric](9, 4) NOT NULL,
	[costo_unitario] [numeric](9, 4) NOT NULL,
 CONSTRAINT [PK_baja_producto] PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubicacion]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubicacion](
	[id_ubicacion] [int] IDENTITY(1,1) NOT NULL,
	[zona] [varchar](50) NOT NULL,
	[estante] [int] NOT NULL,
	[nivel] [int] NOT NULL,
 CONSTRAINT [PK_ubicacion_1] PRIMARY KEY CLUSTERED 
(
	[id_ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[rol] [int] NOT NULL,
	[username] [varchar](100) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[ape_paterno] [varchar](100) NOT NULL,
	[ape_materno] [varchar](100) NOT NULL,
	[telefono] [varchar](9) NULL,
	[email] [varchar](100) NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[baja_producto]  WITH CHECK ADD  CONSTRAINT [FK_baja_producto_productos] FOREIGN KEY([producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[baja_producto] CHECK CONSTRAINT [FK_baja_producto_productos]
GO
ALTER TABLE [dbo].[baja_producto]  WITH CHECK ADD  CONSTRAINT [FK_baja_producto_usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[baja_producto] CHECK CONSTRAINT [FK_baja_producto_usuario]
GO
ALTER TABLE [dbo].[orden_compra]  WITH CHECK ADD  CONSTRAINT [FK_orden_compra_proveedor] FOREIGN KEY([proveedor])
REFERENCES [dbo].[proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[orden_compra] CHECK CONSTRAINT [FK_orden_compra_proveedor]
GO
ALTER TABLE [dbo].[orden_venta]  WITH CHECK ADD  CONSTRAINT [FK_orden_venta_cliente] FOREIGN KEY([cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[orden_venta] CHECK CONSTRAINT [FK_orden_venta_cliente]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_productos_categorias1] FOREIGN KEY([categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_productos_categorias1]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_productos_laboratorio1] FOREIGN KEY([laboratorio])
REFERENCES [dbo].[laboratorio] ([id_laboratorio])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_productos_laboratorio1]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_productos_ubicacion1] FOREIGN KEY([ubicacion])
REFERENCES [dbo].[ubicacion] ([id_ubicacion])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_productos_ubicacion1]
GO
ALTER TABLE [dbo].[registro_stock]  WITH CHECK ADD  CONSTRAINT [FK_registro_stock_orden_compra1] FOREIGN KEY([orden_compra])
REFERENCES [dbo].[orden_compra] ([id_orden])
GO
ALTER TABLE [dbo].[registro_stock] CHECK CONSTRAINT [FK_registro_stock_orden_compra1]
GO
ALTER TABLE [dbo].[registro_stock]  WITH CHECK ADD  CONSTRAINT [FK_registro_stock_orden_venta] FOREIGN KEY([orden_venta])
REFERENCES [dbo].[orden_venta] ([id_orden])
GO
ALTER TABLE [dbo].[registro_stock] CHECK CONSTRAINT [FK_registro_stock_orden_venta]
GO
ALTER TABLE [dbo].[registro_stock]  WITH CHECK ADD  CONSTRAINT [FK_registro_stock_productos] FOREIGN KEY([producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[registro_stock] CHECK CONSTRAINT [FK_registro_stock_productos]
GO
ALTER TABLE [dbo].[registro_stock]  WITH CHECK ADD  CONSTRAINT [FK_registro_stock_usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[registro_stock] CHECK CONSTRAINT [FK_registro_stock_usuario]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([rol])
REFERENCES [dbo].[rol] ([id_rol])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
/****** Object:  StoredProcedure [dbo].[bajaproducto_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[bajaproducto_insert]
    (@producto INT, @fecha_baja DATE, @motivo VARCHAR(500), @usuario INT, @observaciones VARCHAR(500))
AS
INSERT INTO [dbo].[baja_producto]
           ([producto]
           ,[fecha_baja]
           ,[motivo]
           ,[usuario]
           ,[observaciones])
     VALUES
           (@producto
           ,@fecha_baja
           ,@motivo
           ,@usuario
           ,@observaciones)
GO
/****** Object:  StoredProcedure [dbo].[bajaproducto_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[bajaproducto_select] (@producto INT)
AS
SELECT [producto]
       ,[fecha_baja] 
       ,[motivo]
       ,[usuario]
       ,[observaciones]
FROM [dbo].[baja_producto]
WHERE producto = @producto
GO
/****** Object:  StoredProcedure [dbo].[bajaproducto_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[bajaproducto_update]
    (@producto INT, @fecha_baja DATE, @motivo VARCHAR(500), @usuario INT, @observaciones VARCHAR(500))
AS
BEGIN
    UPDATE [dbo].[baja_producto]
    SET 
        [fecha_baja] = @fecha_baja,
        [motivo] = @motivo,
        [usuario] = @usuario,
        [observaciones] = @observaciones
    WHERE 
        [producto] = @producto
END
GO
/****** Object:  StoredProcedure [dbo].[categoria_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[categoria_insert]
    (@nombre VARCHAR(100), @descripcion VARCHAR(500))
AS
INSERT INTO [dbo].[categoria]
           ([nombre]
           ,[descripcion])
     VALUES
           (@nombre
           ,@descripcion)
GO
/****** Object:  StoredProcedure [dbo].[categoria_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[categoria_select] (@categoria INT)
AS
SELECT [id_categoria]
       ,[nombre]
       ,[descripcion]
FROM [dbo].[categoria]
WHERE id_categoria = @categoria
GO
/****** Object:  StoredProcedure [dbo].[categoria_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[categoria_update]
    (@categoria INT,
     @nombre VARCHAR(100), 
     @descripcion VARCHAR(500))
AS
BEGIN
    UPDATE [dbo].[categoria]
    SET 
        [nombre] = @nombre,
        [descripcion] = @descripcion
    WHERE 
        [id_categoria] = @categoria
END
GO
/****** Object:  StoredProcedure [dbo].[cliente_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[cliente_insert]
    (@nombre VARCHAR(100), @ape_paterno VARCHAR(100), @ape_materno VARCHAR(100), @telefono VARCHAR(9), @direccion VARCHAR(100))
AS
INSERT INTO [dbo].[cliente]
           ([nombre]
           ,[ape_paterno]
           ,[ape_materno]
           ,[telefono]
           ,[direccion])
     VALUES
           (@nombre
           ,@ape_paterno
           ,@ape_materno
           ,@telefono
           ,@direccion)
GO
/****** Object:  StoredProcedure [dbo].[cliente_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[cliente_select] (@cliente INT)
AS
SELECT [id_cliente]
       ,[nombre] 
       ,[ape_paterno]
       ,[ape_materno]
       ,[telefono]
       ,[direccion]
FROM [dbo].[cliente]
WHERE id_cliente = @cliente
GO
/****** Object:  StoredProcedure [dbo].[cliente_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[cliente_update]
    (@cliente INT, @nombre VARCHAR(100), @ape_paterno VARCHAR(100), @ape_materno VARCHAR(100), @telefono VARCHAR(9), @direccion VARCHAR(100))
AS
BEGIN
    UPDATE [dbo].[cliente]
    SET 
        [nombre] = @nombre,
        [ape_paterno] = @ape_paterno,
        [ape_materno] = @ape_materno,
        [telefono] = @telefono,
        [direccion] = @direccion
    WHERE 
        [id_cliente] = @cliente
END
GO
/****** Object:  StoredProcedure [dbo].[laboratorio_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[laboratorio_insert]
    (@nombre VARCHAR(100), @direccion VARCHAR(250), @telefono VARCHAR(9))
AS
INSERT INTO [dbo].[laboratorio]
           ([nombre]
           ,[direccion]
           ,[telefono])
     VALUES
           (@nombre
           ,@direccion
           ,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[laboratorio_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[laboratorio_select] (@laboratorio INT)
AS
SELECT [id_laboratorio]
       ,[nombre] 
       ,[direccion]
       ,[telefono]
FROM [dbo].[laboratorio]
WHERE id_laboratorio = @laboratorio
GO
/****** Object:  StoredProcedure [dbo].[laboratorio_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[laboratorio_update]
    (@laboratorio INT,
     @nombre VARCHAR(100), 
     @direccion VARCHAR(250),
     @telefono VARCHAR(9))
AS
BEGIN
    UPDATE [dbo].[laboratorio]
    SET 
        [nombre] = @nombre,
        [direccion] = @direccion,
        [telefono] = @telefono
    WHERE 
        [id_laboratorio] = @laboratorio
END
GO
/****** Object:  StoredProcedure [dbo].[ordencompra_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ordencompra_insert]
    (@fecha_orden DATE, @proveedor INT, @costo_total NUMERIC(9,4))
AS
INSERT INTO [dbo].[orden_compra]
           ([fecha_orden]
           ,[proveedor]
           ,[costo_total])
     VALUES
           (@fecha_orden
           ,@proveedor
           ,@costo_total)
GO
/****** Object:  StoredProcedure [dbo].[ordencompra_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ordencompra_select] (@orden INT)
AS
SELECT [id_orden]
       ,[fecha_orden] 
       ,[proveedor]
       ,[costo_total]
FROM [dbo].[orden_compra]
WHERE id_orden = @orden
GO
/****** Object:  StoredProcedure [dbo].[ordencompra_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ordencompra_update]
     (@orden INT, @fecha_orden DATE, @proveedor INT, @costo_total NUMERIC(9,4))
AS
BEGIN
    UPDATE [dbo].[orden_compra]
    SET 
        [fecha_orden] = @fecha_orden,
        [proveedor] = @proveedor,
        [costo_total] = @costo_total
    WHERE 
        [id_orden] = @orden
END
GO
/****** Object:  StoredProcedure [dbo].[ordenventa_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ordenventa_insert]
    (@fecha_orden DATE, @cliente INT, @costo_total NUMERIC(9,4))
AS
INSERT INTO [dbo].[orden_venta]
           ([fecha_orden]
           ,[cliente]
           ,[costo_total])
     VALUES
           (@fecha_orden
           ,@cliente
           ,@costo_total)
GO
/****** Object:  StoredProcedure [dbo].[ordenventa_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ordenventa_select] (@orden INT)
AS
SELECT [id_orden]
       ,[fecha_orden] 
       ,[cliente]
       ,[costo_total]
FROM [dbo].[orden_venta]
WHERE id_orden = @orden
GO
/****** Object:  StoredProcedure [dbo].[ordenventa_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ordenventa_update]
    (@orden INT, @fecha_orden DATE, @cliente INT, @costo_total NUMERIC(9,4))
AS
BEGIN
    UPDATE [dbo].[orden_venta]
    SET 
        [fecha_orden] = @fecha_orden,
        [cliente] = @cliente,
        [costo_total] = @costo_total
    WHERE 
        [id_orden] = @orden
END
GO
/****** Object:  StoredProcedure [dbo].[producto_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[producto_insert]
    (@nombre VARCHAR(100), @descripcion VARCHAR(500), @principio_activo VARCHAR(100), @laboratorio INT, @categoria INT, @concentracion INT, @unidad_medida VARCHAR(20)
    , @presentacion VARCHAR(100), @stock_actual INT, @stock_minimo INT, @stock_maximo INT, @ubicacion INT, @precio_unitario NUMERIC(9,4), @costo_unitario NUMERIC(9,4))
AS
INSERT INTO [dbo].[producto]
           ([nombre]
           ,[descripcion]
           ,[principio_activo]
           ,[laboratorio]
           ,[categoria]
           ,[concentracion]
           ,[unidad_medida]
           ,[presentacion]
           ,[stock_actual]
           ,[stock_minimo]
           ,[stock_maximo]
           ,[ubicacion]
           ,[precio_unitario]
           ,[costo_unitario])
     VALUES
           (@nombre
           ,@descripcion
           ,@principio_activo
           ,@laboratorio
           ,@categoria
           ,@concentracion
           ,@unidad_medida
           ,@presentacion
           ,@stock_actual
           ,@stock_minimo
           ,@stock_maximo
           ,@ubicacion
           ,@precio_unitario
           ,@costo_unitario)
GO
/****** Object:  StoredProcedure [dbo].[producto_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[producto_select] (@producto INT)
AS
SELECT [id_producto]
       ,[nombre] 
       ,[descripcion]
       ,[principio_activo]
       ,[laboratorio]
       ,[categoria]
       ,[concentracion]
       ,[unidad_medida]
       ,[presentacion]
       ,[stock_actual]
       ,[stock_maximo]
       ,[stock_minimo]
       ,[ubicacion]
       ,[precio_unitario]
       ,[costo_unitario]
       ,[estado]
FROM [dbo].[producto]
WHERE id_producto = @producto
GO
/****** Object:  StoredProcedure [dbo].[producto_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[producto_update]
    (@producto INT, @nombre VARCHAR(100), @descripcion VARCHAR(500), @principio_activo VARCHAR(100), @laboratorio INT, @categoria INT, @concentracion INT, @unidad_medida VARCHAR(20)
    , @presentacion VARCHAR(100), @stock_actual INT, @stock_minimo INT, @stock_maximo INT, @ubicacion INT, @precio_unitario NUMERIC(9,4), @costo_unitario NUMERIC(9,4))
AS
BEGIN
    UPDATE [dbo].[producto]
    SET 
        [nombre] = @nombre,
        [descripcion] = @descripcion,
        [principio_activo] = @principio_activo,
        [laboratorio] = @laboratorio,
        [categoria] = @categoria,
        [concentracion] = @concentracion,
        [unidad_medida] = @unidad_medida,
        [presentacion] = @presentacion,
        [stock_actual] = @stock_actual,
        [stock_minimo] = @stock_minimo,
        [stock_maximo] = @stock_maximo,
        [ubicacion] = @ubicacion,
        [precio_unitario] = @precio_unitario,
        [costo_unitario] = @costo_unitario

     WHERE 
        [id_producto] = @producto
END
GO
/****** Object:  StoredProcedure [dbo].[proveedor_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[proveedor_insert]
    (@nombre VARCHAR(100), @descripcion VARCHAR(500), @telefono VARCHAR(9), @direccion VARCHAR(100))
AS
INSERT INTO [dbo].[proveedor]
           ([nombre]
           ,[descripcion]
           ,[telefono]
           ,[direccion])
     VALUES
           (@nombre
           ,@descripcion
           ,@telefono
           ,@direccion)
GO
/****** Object:  StoredProcedure [dbo].[proveedor_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[proveedor_select] (@proveedor INT)
AS
SELECT [id_proveedor]
       ,[nombre] 
       ,[descripcion]
       ,[telefono]
       ,[direccion]
FROM [dbo].[proveedor]
WHERE id_proveedor = @proveedor
GO
/****** Object:  StoredProcedure [dbo].[proveedor_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[proveedor_update]
    (@proveedor INT, @nombre VARCHAR(100), @descripcion VARCHAR(500), @telefono VARCHAR(9), @direccion VARCHAR(100))
AS
BEGIN
    UPDATE [dbo].[proveedor]
    SET 
        [nombre] = @nombre,
        [descripcion] = @descripcion,
        [telefono] = @telefono,
        [direccion] = @direccion
    WHERE 
        [id_proveedor] = @proveedor
END
GO
/****** Object:  StoredProcedure [dbo].[registrostock_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[registrostock_insert]
    (@producto INT, @orden_compra INT, @orden_venta INT, @fecha_registro DATE, @fecha_vencimiento DATE, @stock_es INT, @usuario INT, @observaciones VARCHAR(500)
    , @precio_unitario NUMERIC(9,4), @costo_unitario NUMERIC(9,4))
AS
INSERT INTO [dbo].[registro_stock]
           ([producto]
           ,[orden_compra]
           ,[orden_venta]
           ,[fecha_registro]
           ,[fecha_vencimiento]
           ,[stock_es]
           ,[usuario]
           ,[observaciones]
           ,[precio_unitario]
           ,[costo_unitario])
     VALUES
           (@producto
           ,@orden_compra
           ,@orden_venta
           ,@fecha_registro
           ,@fecha_vencimiento
           ,@stock_es
           ,@usuario
           ,@observaciones
           ,@precio_unitario
           ,@costo_unitario)
GO
/****** Object:  StoredProcedure [dbo].[registrostock_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[registrostock_select] (@regstock INT)
AS
SELECT [id_registro]
       ,[producto] 
       ,[orden_compra]
       ,[orden_venta]
       ,[fecha_registro]
       ,[fecha_vencimiento]
       ,[stock_es]
       ,[usuario]
       ,[observaciones]
       ,[precio_unitario]
       ,[costo_unitario]
FROM [dbo].[registro_stock]
WHERE id_registro = @regstock
GO
/****** Object:  StoredProcedure [dbo].[registrostock_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[registrostock_update]
    (@registro INT, @producto INT, @orden_compra INT, @orden_venta INT, @fecha_registro DATE, @fecha_vencimiento DATE, @stock_es INT
    , @usuario INT, @observaciones VARCHAR(500), @precio_unitario NUMERIC(9,4), @costo_unitario NUMERIC(9,4))
AS
BEGIN
    UPDATE [dbo].[registro_stock]
    SET 
        [producto] = @producto,
        [orden_compra] = @orden_compra,
        [orden_venta] = @orden_venta,
        [fecha_registro] = @fecha_registro,
        [fecha_vencimiento] = @fecha_vencimiento,
        [stock_es] = @stock_es,
        [usuario] = @usuario,
        [observaciones] = @observaciones,
        [precio_unitario] = @precio_unitario,
        [costo_unitario] = @costo_unitario
    WHERE 
        [id_registro] = @registro
END
GO
/****** Object:  StoredProcedure [dbo].[rol_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[rol_insert]
    (@nombre VARCHAR(100), @descripcion VARCHAR(500))
AS
INSERT INTO [dbo].[rol]
           ([nombre]
           ,[descripcion])
     VALUES
           (@nombre
           ,@descripcion)
GO
/****** Object:  StoredProcedure [dbo].[rol_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[rol_select] (@rol INT)
AS
SELECT [id_rol]
       ,[nombre] 
       ,[descripcion]
FROM [dbo].[rol]
WHERE id_rol = @rol
GO
/****** Object:  StoredProcedure [dbo].[rol_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[rol_update]
    (@rol INT, @nombre VARCHAR(100), @descripcion VARCHAR(500))
AS
BEGIN
    UPDATE [dbo].[rol]
    SET 
        [nombre] = @nombre,
        [descripcion] = @descripcion
    WHERE 
        [id_rol] = @rol
END
GO
/****** Object:  StoredProcedure [dbo].[ubicacion_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ubicacion_insert]
    (@zona VARCHAR(50), @estante INT, @nivel INT)
AS
INSERT INTO [dbo].[ubicacion]
           ([zona]
           ,[estante]
           ,[nivel])
     VALUES
           (@zona
           ,@estante
           ,@nivel)
GO
/****** Object:  StoredProcedure [dbo].[ubicacion_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ubicacion_select] (@ubicacion INT)
AS
SELECT [id_ubicacion]
       ,[zona] 
       ,[estante]
       ,[nivel]
FROM [dbo].[ubicacion]
WHERE id_ubicacion = @ubicacion
GO
/****** Object:  StoredProcedure [dbo].[ubicacion_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ubicacion_update]
    (@ubicacion INT,
     @zona VARCHAR(50), 
     @estante INT,
     @nivel INT)
AS
BEGIN
    UPDATE [dbo].[ubicacion]
    SET 
        [zona] = @zona,
        [estante] = @estante,
        [nivel] = @nivel
    WHERE 
        [id_ubicacion] = @ubicacion
END
GO
/****** Object:  StoredProcedure [dbo].[usuario_insert]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usuario_insert]
    (@rol INT, @username VARCHAR(100), @contrasena VARCHAR(50), @nombre VARCHAR(100), @ape_paterno VARCHAR(100), @ape_materno VARCHAR(100), @telefono VARCHAR(9)
    , @email VARCHAR(100))
AS
INSERT INTO [dbo].[usuario]
           ([rol]
           ,[username]
           ,[contrasena]
           ,[nombre]
           ,[ape_paterno]
           ,[ape_materno]
           ,[telefono]
           ,[email])
     VALUES
           (@rol
           ,@username
           ,@contrasena
           ,@nombre
           ,@ape_paterno
           ,@ape_materno
           ,@telefono
           ,@email)
GO
/****** Object:  StoredProcedure [dbo].[usuario_select]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usuario_select] (@usuario INT)
AS
SELECT [id_usuario]
       ,[rol] 
       ,[username]
       ,[contrasena]
       ,[nombre]
       ,[ape_paterno]
       ,[ape_materno]
       ,[telefono]
       ,[email]
FROM [dbo].[usuario]
WHERE id_usuario = @usuario
GO
/****** Object:  StoredProcedure [dbo].[usuario_update]    Script Date: 12/11/2025 08:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usuario_update]
    (@usuario INT, @rol INT, @username VARCHAR(100), @contrasena VARCHAR(50), @nombre VARCHAR(100), @ape_paterno VARCHAR(100)
    , @ape_materno VARCHAR(100), @telefono VARCHAR(9), @email VARCHAR(100))
AS
BEGIN
    UPDATE [dbo].[usuario]
    SET 
        [rol] = @rol,
        [username] = @username,
        [contrasena] = @contrasena,
        [nombre] = @nombre,
        [ape_paterno] = @ape_paterno,
        [ape_materno] = @ape_materno,
        [telefono] = @telefono,
        [email] = @email
    WHERE 
        [id_usuario] = @usuario
END
GO
